.input {
	color: #e2e2e2;
	font-size: 1.3em;
	width: 100%;
	box-sizing: border-box;
	height: 35px;
	padding: 5px 10px;
}
.label {
	position: relative;
	font-size: 1.2em;
}
.description {
	font-size: 1em;
	margin: 5px 0;
	color: #aaaaaa;
}
.filled {
	border: none;
}
.unstyled {
	border: none;
	padding: 7px 0;
	background-color: transparent;
	outline: none;
}
.asterisk::before {
	content: '*';
	color: #ff0000;
	right: -12px;
	position: absolute;
}
.error {
	color: #ff0000;
}
.input.error {
	border-color: #ff0000;
	outline: none;
}
.input.error::placeholder {
	color: #ff0000;
}
